/*style cho trang detail img*/
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
	width: 100% !important;
}

.detail-header {
	font-size: 26px;
	font-weight: bold;
	margin-top: 10px;
	margin-top:60px;
}


.detail-menu {
	margin: 0px;
	padding: 0px;
}
.detail-bar {
	margin-top: 20px;
	font-size: 14px;
}

.detail-bar .info {
	float: left;
	margin-right: 20px;
}

.detail-bar .info i {
	margin-right: 5px;
}

.detail-bar .share {
	float: right;
}

.detail-bar .share span {
	font-weight: bold;
	font-size: 12px;
}

.control {
	margin-top: 20px;
	float: left;
	position: relative;
	width: 100%;
}

.post-nav {
	float: right;
	font-size:16px;
}

.post-nav a.next {
	text-decoration:none;
	display: block;
	padding-right: 12px;
	width:120px;
	position: relative;
}

.post-nav a.next span.label {
	font-weight: 700;
	height: 34px;
	line-height: 34px;
	display: block;
	background-color: #ff3c1f;
	color: #fff;
	border-radius: 3px 0 0 3px;
	padding: 0 8px 0 12px;
}

.post-nav a.next span.arrow {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 0;
	height: 0;
	border-top: 17px dashed transparent;
	border-bottom: 17px dashed transparent;
	border-left: 12px solid #ff3c1f;
}
.post-nav-left{
	font-size:16px;

}
.post-nav-left a.prev {
	text-decoration:none;
	width:120px;
	display: block;
	padding-left: 12px;
	position: relative;
	float: left;
}

.post-nav-left a.prev span.label {
	font-weight: 700;
	height: 34px;
	line-height: 34px;
	display: block;
	background-color: #ff3c1f;
	color: #fff;
	border-radius: 0 3px 3px 0;
	padding: 0 8px 0 12px;
}

.post-nav-left a.prev span.arrow {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 0;
	height: 0;
	border-top: 17px dashed transparent;
	border-bottom: 17px dashed transparent;
	border-right: 12px solid #ff3c1f;
}
.control .share {
	float: left;
}
.control .like {
	float: left;
}

.control .like a {
	display: block;
	color: #fff;
	background-color: #FF6347;
	height: 40px;
	width:120px;
	font-weight:bold;
	line-height: 34px;
	border-radius: 3px;
	text-align: center;
	margin-right: 5px;
	text-decoration: none;
	padding: 5px 10px 0px 10px;
}

.control .like a:hover {
	background-color: #ffa07a;
}

.control .share a {
	padding: 10px 25px 0 34px;
  color: #fff;
  height: 35px;
  width: 120px;
  display: block;
  margin-left: 5px;
  float: left;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
}

.control .share  a.share-fb {
	background: #3b5998 url(../image/sharing-button-a.png) 0 0 no-repeat;
}

.control .share  a.share-fb:hover {
	background: #4682B4 url(../image/sharing-button-a.png) 0 0 no-repeat;
}

.control .share  a.share-tw {
	background: #00aced url(../image/sharing-button-a.png) 0 -34px no-repeat;
}

.control .share  a.share-tw:hover {
	background: #40E0D0 url(../image/sharing-button-a.png) 0 -34px no-repeat;
}

.post-next {
	float: right;
}

.post-next a {
	display: block;
	background: red;
	color: #fff;
	padding: 10px 25px;
	height: 40px;
	border-radius: 3px;
	text-decoration: none;
}

.post-next a:hover {
	background: #FF4500;
}

.detail-img {
	margin-top: 10px;
	background: #f4f4f4;
	text-align: center;
	float: left;
	width:100%;
}

.detail-img img {
	width: 80%;
}
@media (max-width: 480px){

}
@media (max-width: 768px) {
	.control .share{
		display:none;
	}
}

.big-share {
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

.big-share .fb,
.big-share .tw {
	text-align: center;
	border-radius: 3px;
}

.big-share .fb {
	padding-left: 0px;
}

.big-share .tw {
	padding-right: 0px;
}

.big-share .fb a,
.big-share .tw a {
	display: block;
	padding: 10px;
	color: #fff;
	border-radius: 3px;
	text-decoration: none;
	font-weight: bold;
}

.big-share .fb a {
	background: #3b5998;
}

.big-share .fb a:hover {
	background: #4682B4;
}

.big-share .tw a {
	background: #0aced8;
}

.big-share .tw a:hover {
	background: #40E0D0;
}

span.hr {
	width: 100%;
	height: 1px;
	float: left;
	border-bottom: 1px solid #999;
	margin-bottom: 2px;
	display: block;
}

.author-report {
	float: left;
	width: 100%;
	font-size: 12px;
	color: #999;
}

.author-report .author,
.author-report .report {
	float: right;
	margin-left: 10px;
}

.author-report a {
	color: #999;
	font-size: 12px;
}

.author-report a:hover {
	color: black;
}

.comment-count {
	float: left;
	width: 100%;
	margin-top: 20px;
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.comment-count .count {
	float: left;
	font-weight: bold;
	font-size: 13px;
}

.comment-count .hot,
.comment-count .fresh {
	float: right;
	margin-left: 20px;
	cursor: pointer;
	color: #999;
	font-size: 13px;
	font-weight: bold;
}

.comment-count .comment-active {
	color: black;
}

.detail-comment .man-comment {
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

.detail-comment .man-comment .avarta img,
.detail-comment .list-comment .one-comment .avarta img {
	width: 45px;
	height: 45px;
}

.detail-comment .man-comment .avarta ,
.detail-comment .list-comment .one-comment .avarta {
	padding-left: 0px;
	margin: 0px;
}

.detail-comment .man-comment .content {
	padding-right: 0px;
}

.detail-comment .man-comment .content textarea {
	width: 100%;
	font-size: 12px;
	padding: 5px;
}

.detail-comment .list-comment .one-comment {
	padding: 0px;
	margin-bottom: 20px;
	float: left;
	width:100%;
}

.detail-comment .list-comment .one-comment .content {
	padding: 0px;
	padding-left: 10px;
	font-size: 12px;
}

.detail-comment .list-comment .one-comment .name {
	float: left;
	display: block;
	margin-right: 30px;
}

.detail-comment .list-comment .one-comment .name a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.detail-comment .list-comment .one-comment .point {
	font-size: 11px;
	float: left;
	color: #999;
}

.detail-comment .list-comment .one-comment .comment-content {
	clear: both;
	font-weight: 1000;
	margin-bottom: 5px;
}
.one-comment .vote a {
	font-size: 13px;
	text-decoration: none;
	color: #DC143C;
}

.one-comment .vote a:hover {
	color: #FF7F50;
}

@media (max-width: 991px) {
	.big-share .fb,
	.big-share .tw {
		padding: 0;
		margin-bottom: 5px;
	};
}

@media (max-width: 480px) {
	.detail-comment .man-comment .avarta img,
	.detail-comment .list-comment .one-comment .avarta img {
		width: 30px;
		height: 30px;
	};
	#profile{
		display:none;
	}
}

/*----------------- some view detail -----------------*/
#some_view {
	margin-top: 40px;
	border-top: 2px solid #999999;
	border:1px solid #cccccc;
}
#some_view span#header {
	display: block;
	font-size: 18px;
	font-weight: bold;
	font-family: tahoma;
	text-transform: uppercase;
	border-bottom: 3px solid #cccccc;
	margin-bottom: 20px;
	margin-top: 20px;
}

#some_view .some_view_pr {
	margin-bottom: 10px;
	height: 150px;
	overflow: hidden;
}

#some_view .some_view_pr .img {
	max-height: 100px;
	overflow: hidden;
	margin-bottom: 5px;
}

#some_view .some_view_pr .img img {
	width: 100%;
}

#some_view .some_view_pr .title a {
	text-decoration: none;
	color: black;
	font-size: 12px;
	font-weight: bold;
}

#some_view .some_view_pr .title a:hover {
	color: #CC0000;
	transition: 0.5s;
}


