/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
body {
	font: 13px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	height: 100%;
}

/* css phan menu */
#menu {
	background: #333;
	position: fixed;
	z-index: 9998;
	width: 100%;
	height: 50px;
}

#menu #logo {
	padding-right: 0px;
	margin: 5px 20px 0px 20px;
}

#menu #left-menu {
	padding: 0px;
	font-size: 13px;
}

#menu #left-menu ul li a {
	color: #fff;
	font-weight: bold;
}

#menu #left-menu ul li a:hover,
#menu #left-menu ul li.active {
	background: #ff6666;
}

#menu #right-menu {
	padding: 0px 20px 0px 0px;
}

#menu #right-menu form {
	float: right;
	display: block;
	margin-top: 10px;
	margin-right: 5px;
}

#menu #right-menu input {
	margin-right: 5px;
}

#menu #right-menu li.user_info button {
	margin-top: 10px;
	border: 0px;
	margin-right: 5px;
	padding: 10px 20px;
	background: #4c4cff;
	color: #fff;
	border-radius: 4px;
}
#menu #right-menu li.user_info button:hover{
	background: #ff6666;
	transition: 0.6s;
}
#menu #right-menu ul li.user_info a {
	color: #fff;
	background: #4c4cff;
	margin-right: 2px;
	margin-top: 10px;
	font-weight: bold;
	padding: 8px 15px;
	border-radius: 4px;
}

#menu #right-menu ul li a:hover {
	background: #ff6666;
	transition: 0.6s;
}

a#close_login,a#close_register_box {
	background: red;
	color: #fff;
	padding: 10px;
	position: absolute;
	top: 0px;
	right: 0px;
	text-decoration: none;
}

a#close_login:hover,a#close_register_box:hover {
	background: #ff3232;
}
/*///////////////////////////////////////////////////////////*/
#left-content-new,#right-content-new {
	margin-top: 60px;
}

#left-content-new .pagination {
	margin-top: 0px !important;
}

#left-content-new .pagination li.active a {
	border-color: #005aff;
	background: #005aff;
}

#left-content-new .pagination li a {
	font-size: 15px;
	background: #ff2500;
	color: #fff;
	border-radius: 0px;
}

#left-content-new .clearfix {
	clear: both;
}

#left-content-new .one-post {
	margin-bottom: 30px;
	float: left;
	height: auto;
	width: 95%;
}

#left-content-new .one-post img {
	width: 100%;
}

#left-content-new .one-post .title,
#left-content-new .one-post .information,
#left-content-new .one-post .information .author,
#left-content-new .one-post .information .info_number,
#left-content-new .one-post .information  .share {
	margin-bottom: 10px;
	padding: 0px;
	width: 100%;
}
#left-content-new .information img {
	width: 40px;
}
#left-content-new .one-post .play-youtube {
	position: absolute;
	top: 44%;
	top: -webkit-calc(50% - 35px);
	top: -moz-calc(50% - 35px);
	left: -webkit-calc(50% - 35px);
	left: -moz-calc(50% - 35px);
	left: 44%;
	width: 70px;
	height: 70px;
	background: url('../image/play-icon.png');
	background-size: 70px 70px;
	z-index: 0;
}

#left-content-new .one-post .product-video,
#left-content-new .one-post .product-image {
	width: 100%;
	padding: 0px;
	max-height: 600px;
	overflow: hidden;
}

#left-content-new .one-post a.post-read-more {
	text-decoration: none;
	color: #0087F7;
	background: url(../image/post-type-icon.png) no-repeat #f4f4f4;
	font-weight: 700;
	bottom: 0;
	width: 100%;
	height: 44px;
	text-align: left;
	line-height: 44px;
	font-size: 14px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 0 rgba(0,0,0,.05);
	box-sizing: border-box;
	position: absolute;
	padding: 0 20px 0 44px;
}

#left-content-new .one-post a.post-read-more:hover {
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	background-color: #eee;
}

#left-content-new .one-post a.post-read-more .shadow {
	width: 100%;
	height: 15px;
	background: url(../image/expand-crook.png) repeat-x;
	display: block;
	position: absolute;
	top: -15px;
	left: 0;
}

#left-content-new .one-post .title:hover a {
	color: #09f;
}

#left-content-new .one-post .title a {
	text-decoration: none;
	color: black;
	font-size: 22px;
	font-weight: bold;
}

#left-content-new .one-post .information {
	margin-top: 10px;
	padding-bottom:30px;
	border-bottom:2px solid #b2b2b2;
}

#left-content-new .one-post .information .author,
#left-content-new .one-post .information .info_number,
#left-content-new .one-post .information .info_number .date_upload,
#left-content-new .one-post .information .info_number .view,
#left-content-new .one-post .information .info_number .like,
#left-content-new .one-post .information .info_number  .comment {
	float: left;
	margin-right: 20px;
	font-weight: bold;
	font-size: 14px;
}

#left-content-new .one-post .information .share .dxm,
#left-content-new .one-post .information .share .fb
 {
	float: left;
	width: 49.5%;
	padding: 10px;
	border-right: 1px solid #fff;
	display: block-inline;
	text-align: center;
	color: #fff;
	text-decoration: none;
}
#left-content-new .one-post .information .share .tw{
	float: right;
	width: 49.5%;
	padding: 10px;
	border-right: 1px solid #fff;
	display: block-inline;
	text-align: center;
	color: #fff;
	text-decoration: none;
}
#left-content-new .one-post .information .share .dxm {
	background: red;
}

#left-content-new .one-post .information .share .dxm:hover {
	background: #cc0000;
}

#left-content-new .one-post .information .share .tw {
	background: #55acee;
	border-radius:5px;
}

#left-content-new .one-post .information .share .tw:hover {
	background: #4489be;
}

#left-content-new .one-post .information .share .fb {
	background: #3b5998;
	border-radius:5px;
}

#left-content-new .one-post .information .share .fb:hover {
	background: #2f4779;
}
#left-content-new .float-right {
	float: right;
}
#left-content-new #loadmore {
	padding: 0px;
}
#right-content-new .share_fanpage{
	padding:0px;
	margin-bottom:20px;
}
#right-content-new .top_ten {
	background: #f5f3ff;
	padding: 0px;
	border:1px solid #cccccc;
}

#right-content-new .top_ten .title {
	font-size: 18px;
	font-weight: bold;
	border-bottom: 5px solid #ff3232;
	color: #4c4cff;
	margin-bottom: 20px;
	padding: 10px;
}

#right-content-new .top_ten .author {
	margin-bottom: 10px;
	padding: 0px;
}

#right-content-new .top_ten .author .avatar {
	padding: 0px;
}

#right-content-new .top_ten .author .point_link {
	padding-right: 0px;
	font-size: 12px;
	margin-top: 5px;
}

#right-content-new .top_ten .author .point_link .point {
	padding: 0px;
	font-size: 12px;
}

#right-content-new .top_ten .avatar img {
	width: 40px;
	height: 40px;
}

#right-content-new #feature {
	margin-top: 10px;
	float: left;
	background: #f5f3ff;
	border:1px solid #cccccc;
	padding:0px;
}

#right-content-new #feature .feature-title {
	font-size: 18px;
	font-weight: bold;
	border-bottom: 5px solid #ff3232;
	color: #4c4cff;
	margin-bottom: 20px;
	padding: 10px;
}

#right-content-new #feature .one-feature {
	margin-bottom: 30px;
}

#right-content-new #feature .one-feature .img {
	height: 100px;
	overflow: hidden;
	padding: 0px;
}

#right-content-new #feature .one-feature .img img {
	max-width: 100%;
}

#right-content-new #feature .one-feature .future_information {
	padding: 0px;
}

#right-content-new #feature .one-feature .future_information .information {
	font-size: 12px;
}

#right-content-new #feature .one-feature .future_information .title {
	padding-right: 0px;
	color: black;
}

#right-content-new #feature .one-feature .future_information .title a {
	display: block;
	color: #4c4c4c;
	text-decoration: none;
	margin-bottom: 10px;
	font-weight: bold;
}

#right-content-new #feature .one-feature .future_information .title a:hover {
	color: #006bb2;
}
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
/*-------------- css login -------------------- */
.login-fb {
	margin-bottom: 5%;
	text-align: center;
}

.login-fb a {
	background: #3b5998 url(../image/btn-connect-option.png) no-repeat;
	display: block;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	padding: 20px 30px 20px 30px;
}

.login-google {
	text-align: center;
	margin-bottom: 5%;
}

.login-google a {
	background: #DC4D28 url(../image/btn-connect-option.png) no-repeat 0 -62px;
	;
		display: block;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	padding: 20px 30px 20px 30px;
}

#login-form label {
	font-size: 13px;
}

#login-form input[type="submit"] ,
		#login-form input[type="button"] {
	width: 100%;
	border-radius: 0px;
	border: 0px;
	padding: 15px;
	color: #fff;
	background: #3b5998;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

#login-form input[type="submit"]:hover ,
		#login-form input[type="button"]:hover {
	background: #FF4500;
	transition: 0.5s;
}

#login-form .btn-login-div:first-child {
	padding-left: 0px;
	padding-right: 2px;
}

#login-form .btn-login-div:nth-child(2) {
	padding-left: 2px;
	padding-right: 0px;
}

#login-form input[type="email"],
	#login-form [type="password"] {
	border-radius: 0px;
	
	margin-bottom: 5px;
}

.product-video,
	.product-image {
	position: relative;
}

a.tn-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
}
#warning_frame {
	margin-top: 100px;
	position: fixed;
	z-index: 9999;
	background: white;
	padding: 10px;
	border: 5px solid #9999ff;
}

#warning_frame #alert_img {
	max-height: 300px;
	overflow: hidden;
}

#warning_frame #alert_img img {
	width: 100%;
}

#warning_frame #message {
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
	font-weight: bold;
}

#warning_frame #message button {
	margin-top: 30px;
	padding: 15px;
	width: 100%;
	background: #4c4cff;
	color: #fff;
	font-weight: bold;
	border: none;
}

#warning_frame #message button:hover {
	background: #ff6666;
	transition: 0.6s;
}
#popup_box,#warning_box {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	background-color: rgba(0,0,0,.9);
	border-radius: 5px;
}

#popup_box #login_form {
	background: #fff;
	margin-top: 4%;
	padding-bottom: 3%;
	padding-top: 3%;
}

#login_form .login-title {
	padding: 0px;
	font-size: 12px;
	color: #999;
	margin-bottom: 10px;
}

/*------------ CSS REGISTER ------------------*/
#register_box {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	background-color: rgba(0,0,0,.9);
	border-radius: 5px;
}

#register_box .signup {
	background: #fff;
	margin-top: 4%;
	padding: 30px 40px;
}

#register_box .signup input {
	border-radius: 0px;
	height: 45px;
}

#register_box .signup span {
	font-size: 12px;
	width: 100%;
	display: none;
	margin-top: 5px;
	font-weight: bold;
	color: red;
	border-left: 5px solid #ff4500;
	padding-left: 20px;
	padding-top: 2px;
}

#register_box .signup input[type="button"] {
	width: 100%;
	border: 0px;
	background: #3b5998;
	color: #fff;
}

#register_box .signup input[type="button"]:hover {
	background: #FF4500;
	transition: 1s;
}

#register_box .signup .register-div {
	padding-left: 0px;
	padding-right: 0px;
}

#register_box .signup .register-div .btn-register-div {
	font-size: 13px;
	font-weight: bold;
}

#register_box .signup .register-div .btn-register-div:first-child {
	padding-left: 2px;
	padding-right: 0px;
}

#register_box .signup .register-div .btn-register-div:nth-child(2) {
	padding-left: 2px;
	padding-right: 0px;
}

#register_box label {
	color: #666;
	font-size: 13px;
}


/* css smiley */
#smiley {
	clear: both;
	float: left;
	margin-top: 5px;
	display: none;
}

#smiley .icon {
	width: 50px;
	float: left;
	margin-right: 10px;
	border: 2px solid #FFCCCC;
	margin-bottom: 5px;
	cursor: pointer;
	border-radius: 3px;
}

#smiley .icon:hover {
	border: 2px solid #FF0000;
}

#content_chat {
	padding-top: 5px;
	width: 100%;
	height: 50px;
	overflow: hidden;
	margin-bottom: 5px;
	border: 2px solid #6600FF;
	border-radius: 3px;
}

#content_chat .icon {
	width: 35px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 5px;
	cursor: pointer;
}

#content_chat .icon img {
	max-width: 100%;
	max-height: 100%;
}

.cm_div {
	padding-left: 0px;
}

#chat_submit,#open_smiley,#refresh_chat {
	float:left;
	border: 0px;
	padding: 7px;
	width: 100%;
	font-family: tahoma;
	background: #6600FF;
	font-weight: bold;
}

#open_smiley,#refresh_chat {
	color: #fff;
	font-size: 14px;
	font-family: Tahoma;
}

.list-comment .one-comment .comment-content .icon {
	display: inline;
	margin-right: 5px;
}

#load_more_cm {
	padding: 0px;
}

#load_comment {
	width: 100%;
	padding: 10px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	background: #6600FF;
}

button#next_page {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	background: #FF3030;
	color: #fff;
	margin-bottom: 5px;
}

button#next_page:hover {
	background: #FF0000;
	transition: 1s;
}

#loading-effect {
	text-align: center;
	display: none;
	margin-bottom: 50px;
}

#backtotop {
	position: fixed;
	bottom: 15px;
	right: 35px;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

#command {
	position: fixed;
	bottom: 65px;
	right: 35px;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

#command img,
#backtotop img {
	width: 100%;
}

#open-button {
	border: 0px;
	width: 38px;
	height: 37px;
	margin-top: 7px;
	margin-right: 20px;
	background-image: url(../image/collapse.png);
	display: none;
}

#logo {
	float: left;
}
.menu-wrap form input {
	width: 200px;
	margin-left: 20px;
	color: #ff3232;
	border: 3px solid #cccccc;
	padding: 10px;
	border-radius: 20px;
}
/* boi toan */
#boi_control {
	margin-top: 20px;
}

#boi_control #boi_start {
	padding: 0px;
}

#boi_control #boi_share {
	padding-right: 0px;
}

#boi_control #boi_start button,
#boi_control #boi_share a {
	width: 100%;
}

.fb-comments {
	margin-top: 10px;
	border: 1px dashed #999;
}
@media (min-width: 1500px) {
	.menu-wrap{
		display:none;
	}
	#menu {
		padding:0px 15% 0px 15%;
	}
}
@media (min-width: 769px) and (max-width: 990px) {
	#left-content-new .one-post{
		width:100%;
	}
	#left-menu{
		font-size:12px !important;
	}
	#right-menu li.user_info {
		display: none;
	}

	#right-menu li.search form {
		width:80px;
	}
	#open-button {
		display: block;
		margin-right:0px;
	}

	#menu_collapse {
		height: 700px;
		position: relative;
	}

	#right-content-new {
		display: none;
	}

	#login-form .btn-login-div:first-child,
	#login-form .btn-login-div:nth-child(2) {
		padding: 0px;
	}

	#register_box .signup .register-div .btn-register-div:first-child,
	#register_box .signup .register-div .btn-register-div:nth-child(2) {
		padding: 0px;
		margin-bottom: 5px;
	};
}
@media (min-width: 1138px){
	.menu-wrap{
		display:none;
	}
}
@media (min-width: 991px) and (max-width: 1137px) {
	/* css cho menu */
	#right-menu li.user_info {
		display: none;
	}

	#open-button {
		display: block;
	}

	#menu_collapse {
		height: 700px;
		position: relative;
	}

	#login-form .btn-login-div:first-child,
	#login-form .btn-login-div:nth-child(2) {
		padding: 0px;
	}

	#register_box .signup .register-div .btn-register-div:first-child,
	#register_box .signup .register-div .btn-register-div:nth-child(2) {
		padding: 0px;
		margin-bottom: 5px;
	};
}

@media  (min-width: 481px) and (max-width: 768px) {

	#left-content-new .one-post{
		padding:0px;
		width:100%;
	}
	/* css cho menu */
	#right-menu li.user_info,#left-menu {
		display: none;
	}

	#open-button {
		display: block;
		margin-right: 20px;
		margin-top:-2px;
	}

	#right-content-new {
		display: none;
	}

	#menu #right-menu li {
		float: left;
	}

	#menu #right-menu li input {
		margin-top: -10px;
		width:170px;
	}

	#login-form .btn-login-div:first-child,
	#login-form .btn-login-div:nth-child(2) {
		padding: 0px;
	}

	#register_box .signup .register-div .btn-register-div:first-child,
	#register_box .signup .register-div .btn-register-div:nth-child(2) {
		padding: 0px;
		margin-bottom: 5px;
	};
}

@media (max-width: 480px) {
	#boi_control #boi_share {
	padding: 0px;
}
	#left-content-new .one-post{
		padding:0px;
		width:100%;
	}
	#left-content-new .float-right {
	float: left;
	margin-top:5px;
}
	#right-menu li.user_info,#right-menu li.search input,#left-menu {
		display: none;
	}

	#open-button {
		display: block;
		margin-top: 0px;
		margin-right: 20px;
	}

	#right-content-new {
		display: none;
	}

	#login-form .btn-login-div:first-child,
	#login-form .btn-login-div:nth-child(2) {
		padding: 0px;
	}

	#register_box .signup .register-div .btn-register-div:first-child,
	#register_box .signup .register-div .btn-register-div:nth-child(2) {
		margin-bottom: 5px;
		padding: 0px;
	};
}
