#left-content,
#left-content .user-content,
#left-content .product-content {
	padding-left: 0px;
	padding-right: 0px;
}

#right-content table.format,
#left-content table.format{
	border:2px solid #bebebe;
}

#right-content,
#right-content .list-product {
	padding-right: 0px;
}

.user-content,
.product-content  {
	margin-top: 20px;
}

.user-content .account,
.product-content .product{
	background: #6666ff;
	padding: 10px 0px 10px 0px;
	color: #fff;
	font-size: 13px;
	text-align: center;
}

.user-content .account i ,
.product-content .product i{
	width: 100%;
	margin-bottom: 5px;
}

.user-content .top-user,
.product-content .top-product {
	font-size: 12px;
	padding: 0px;
}

.user-content .top-user h3,
.product-content .top-product  h3{
	text-transform: uppercase;
	border-bottom: 5px solid #6666ff;
	color: #ff1919;
    font-weight: bold;
}

.product-content .hinh-mh {
	height: 80px;
	width: 100px;
	overflow: hidden;
}


.list-user .avatar img{
	width:60px;
	height:60px;
}
.product-content .hinh-mh img {
	max-width: 100px;
}
.list-product .hinh-mh {
	height: 150px;
	width: 100%;
	overflow: hidden;
}

.list-product .hinh-mh img {
	width: 100%;
}

#login-form {
	margin-top: 100px;
	padding: 20px 20px 10px;
	border: 5px solid #008000;
	border-radius: 5px;
}

#login-form label {
	font-family: tahoma;
	margin-top: 5px;
}

#login-form input[type="password"],
#login-form input[type="email"] {
	color: #008000;
	border-color: #008000;
}

#login-form input[type="submit"] {
	background: #008000;
	color: #fff;
	border-color: #008000;
	width: 150px;
}

#header {
	margin-top: 20px;
	background: #e7e7e7;
	padding: 15px 5px;
}

#header #header-user {
	margin-top: 10px;
	text-align: right;
}

#header #header-user span#hello-user {
	font-weight: bold;
	color: #008000;
	margin-right: 20px;
}

#right-content {
	margin-top: 20px;
}

#right-content #menu {
	padding: 0px;
}

#right-content #menu #menu-user {
	padding-right: 0px;
}

#right-content a#user,
#right-content a#product {
	display: block;
	background: #6666ff;
	color: #fff;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

#right-content a#user:hover,
#right-content a#product:hover {
	background: #33ccff;
	transition: 0.5s;
}

#right-content a#user i ,
#right-content a#product i {
	display: block;
}

#right-content #list-product{
    font-size:12px;
}
