.container{
	margin-top:30px;
}

#left-content {
	padding: 10px;
}
#left-content span.title {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	border-bottom: 5px solid #ff4c4c;
	margin-bottom:10px;
}
#left-content table#uploader-info {
	width: 100%;
}

#left-content table#uploader-info tr td,
#left-content table#uploader-info tr th {
	padding: 5px;
}

#left-content table#uploader-info tr i {
	color: #006400;
}

#left-content table#uploader-info tr th span {
	font-size: 12px;
}

#left-content #upload-image,
#left-content div#change-pass,
#left-content div#change-info {
	padding: 10px;
	border: 2px solid #6666ff;
	margin-top: 20px;
}
#left-content div#change-pass{
	display: none;
}
#left-content div#change-pass .changepass_message,
#left-content div#change-info .update_message {
	color: #ff3232;
	font-weight: bold;
}
#left-content table#uploader-info {
	border: 2px solid #6666ff;
}
#left-content button#change-pass,
#left-content button#update-info {
	margin-bottom: 5px;
	background: #6666ff;
	font-weight: bold;
	color: #fff;
}

#left-content form button,#left-content form input[type=submit],
#left-content form  input[type=reset] {
	border: none;
	background: #6666ff;
	font-weight: bold;
}
#left-content form button:hover,#left-content form input[type=submit]:hover,
#left-content form  input[type=reset]:hover,
#left-content button#change-pass:hover,
#left-content button#update-info:hover{
	background:#ff4c4c;
}

#left-content div#change-pass input[type="reset"],
#left-content div#change-pass button,
#left-content div#change-info input[type="reset"],
#left-content div#change-info input[type="submit"],
#left-content div#change-info button {
	border: none;
	padding: 10px;
	width: 32%;
	font-family: tahoma;
}

#left-content #upload-image input[type="submit"] {
	width: 100%;
	border: 0px;
	padding: 10px;
}

#left-content #upload-image .error{
	color:red;
	font-weight:bold;

}

#left-content button#change-pass,
#left-content button#update-info {
	margin-bottom: 5px;
}

#right-content {
	padding: 10px;
}

#right-content table#list-product {
	border: 2px solid #6666ff;
}

#right-content table#list-product th {
	border-bottom: 2px solid #6666ff;
}	

#right-content table tr th,
#right-content table tr td {
	font-size: 12px;
}

#right-content .pagination {
	margin-top: 0px;
}

table#list-product .product-img {
	height: 100px;
	overflow: hidden;
}

table#list-product .product-img img {
	max-width: 150px;
}

.update-div {
	max-width: 300px;
	padding: 10px;
	border: 2px solid red;
	border-radius: 5px;
}

.update-div input[type="submit"] {
	width: 100%;
}

.update-img {
	max-height: 225px;
	width: 100%;
	overflow: hidden;
	border: 2px solid red;
	border-radius: 5px;
	padding: 10px;
}

.update-img img {
	width: 100%;
}

#header {
	background: #e5e5e5;
	padding-top:5px;
	padding-bottom:5px;
	color: #ff4c4c;
}

#header #user-info {
	text-align: right;
}

#header #user-info span#user-name {
	font-weight: bold;
	margin-right: 20px;
}
#header #user-info img {
	margin-right: 10px;
	border-radius: 10px;
}
#header #user-info a {
	text-decoration: none;
	color: orange;
}

#header #user-info a:hover {
	color: red;
}

.menu {
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.menu span {
	display: block;
	background: #ff4c4c;
	color: #fff;
	font-size:13px;
	font-weight:bold;
	padding: 10px;
	text-align: center;
}

#left-content #tacvu,
#right-content #tacvu {
	padding: 0px;
}

#left-content {
	padding-left: 0px;
}

#right-content {
	padding-right: 0px;
}